/* Navigation */

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.navbar {
    font-size: larger;
}

/* Hero */

.hero {
    height: 70vh;
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.bigHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)), url(../images/cody-chan-BLaiOhpirAQ-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.upperHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)), url(../images/anton-nazaretian-JCHlsKSgbSk-unsplash.jpg);
    background-size: cover;
    height: 35vh;
}

.lowerHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)), url(../images/kae-ng-qjM403Kjw00-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 35vh;
}

.bigHero,
.upperHero,
.lowerHero {
    display: grid;
    align-items: flex-end;
    /* padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem; */
}

.upperHero,
.lowerHero {
    justify-items: flex-end;
}

.heroTitle {
    font-size: 4rem;
    color: white;
}

.heroTitle .display-1 {
    cursor: pointer;
}

.heroSubtitle {
    color: white;
}

.hero a {
    color: white;
    text-decoration: none !important;
}

.hero a:hover {
    color: #198754 !important;
}

#bgtHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)), url(../images/kae-ng-qjM403Kjw00-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-height: 40vh !important;
}

#neighborhood-ramenHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)), url(../images/anton-nazaretian-JCHlsKSgbSk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 40vh !important;
}

/* Main */

.card {
    border: 0px;
}

.card-title {
    cursor: pointer;
}

.highlights a {
    color: white;
    text-decoration: none !important;
}

.highlights a:hover {
    color: #198754 !important;
}

.card-title:hover {
    color: #198754 !important;
}

/* .highlights {
    cursor: pointer;
} */

/* .highlights .card:hover {
    box-shadow: 7px 7px #198754;
} */

/* .posts,
.highlights h2 {
    padding: 30px 30px 0px 30px;
} */

/* .highlights img {
    width: auto;
} */

.highlights .card-img-overlay {
    display: grid;
    align-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%);
}

.postNav {
    display: grid;
    justify-content: space-between;
}

.list-group-item {
    border: 0px;
}


/* Footer */

/* .footer .row {
    margin: 30px;
} */

.footer {
    color: white !important;
}

.footer input {
    max-width: 50%;
}

.footer .fab {
    font-size: 2em;
    cursor: pointer;
}

.fab:hover {
    color: #198754;
}

.footer .nav-link {
    color: white !important;
}

.footer .nav-link:hover {
    color: #198754 !important;
}

@media only screen and (max-width:992px) {

    .upperHero,
    .lowerHero {
        height: 10vh;
    }

    .hero {
        height: auto;
    }

    .footer input {
        max-width: 100%;
    }
}